//The Menu Button in the top right
.menu-btn {
  position: absolute;
  z-index: 3; //ensure its at the front
  right: 35px; //35px from the right
  top: 35px; //35px from the top
  cursor: pointer;
  @include easeOut;

  .btn-line {
    //properties of the 3 lines used to make the menu button
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color); //coloured to match the theme
    @include easeOut;
  }

  // Rotate menu button in to an x upon opening
  &.close {
    transform: rotate(180deg); //make lines vertical

    .btn-line {
      // Line 1 - rotate an additional 45 degrees
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // Line 2 - becomes invisible
      &:nth-child(2) {
        opacity: 0;
      }
      // Line 3 - rotate 45 degrees back the other way
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

//menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1; //menu is see through
  visibility: hidden; //hidden by default

  &.show {
    //any items flagged with "show" become visible
    visibility: visible;
  }

  &-branding, //the branding and the nav panel
  &-nav {
    display: flex;
    flex-flow: column wrap;
    flex-flow: row wrap; //right and left
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 50vh;
    overflow: hidden; //no scrollbars
  }

  &-nav {
    left: 50px;
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    //transform: translate3d(0, -100%, 0);
    transform: translate3d(-100%, 0, 0);
    @include easeOut;

    &.show {
      //slide in from top
      transform: translate3d(0, 0, 0);
    }
  }

  //branding
  &-branding {
    background: $primary-color;
    //transform: translate3d(0, 100%, 0);
    transform: translate3d(100%, 0, 0);
    @include easeOut;

    &.show {
      //slide in from bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 128px;
      height: 192px;
      background: $portrait-imageLrg;
      border-radius: 50%; //makes it a circle
      border: solid 3px $secondary-color; //provides a yellow border
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      //slide in from right
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.1
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: set-text-color($primary-color);
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }

  .menu-icons {
    color: set-text-color($primary-color);
    @include easeOut;
  }
}
